mixin faqs
    section(class="faqs" id="faqs")
            div(class="container") 
                h2(class="base__title base__title--faqs d-flex justify-content-center") FAQs 
                div(class="row") 
                    div(class="col-12 col-md-4 l-lg-4") 
                        div(class="accordion" id="accordionExample") 
                            div(class="card faqs__card") 
                                div(class="card-header" id="headingOne") 
                                    h5(class="mb-0") 
                                        button(class="btn btn-link faqs__title " type="button" data-toggle="collapse"
                                            data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne") Tempor incididunt
                                            span(class="faqs__icon")  
                                div(id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                                    data-parent="#accordionExample") 
                                    div(class="card-body faqs__text ")  Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt.
                            div(class="card faqs__card") 
                                div(class="card-header" id="headingTwo") 
                                    h5(class="mb-0") 
                                        button(class="btn btn-link faqs__title collapsed" type="button"
                                            data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false"
                                            aria-controls="collapseTwo") Eiusmod tempor
                                            span(class="faqs__icon")  
                                div(id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                                    data-parent="#accordionExample") 
                                    div(class="card-body faqs__text") Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt. 
                            div(class="card faqs__card") 
                                div(class="card-header" id="headingThree") 
                                    h5(class="mb-0") 
                                        button(class="btn btn-link faqs__title collapsed" type="button"
                                            data-toggle="collapse" data-target="#collapseThree" aria-expanded="false"
                                            aria-controls="collapseThree") Incididunt ut labore 
                                            span(class="faqs__icon")  
                                div(id="collapseThree" class="collapse" aria-labelledby="headingThree"
                                    data-parent="#accordionExample") 
                                    div(class="card-body faqs__text") Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt.
                    div(class="col-12 col-md-4 l-lg-4") 
                        div(class="accordion" id="accordionTwo") 
                            div(class="card faqs__card") 
                                div(class="card-header" id="heading_One") 
                                    h5(class="mb-0") 
                                        button(class="btn btn-link faqs__title collapsed" type="button"
                                            data-toggle="collapse" data-target="#collapse_One" aria-expanded="true"
                                            aria-controls="collapse_One")  Tempor incididunt
                                            span(class="faqs__icon")  
                                div(id="collapse_One" class="collapse" aria-labelledby="heading_One"
                                    data-parent="#accordionTwo") 
                                    div(class="card-body faqs__text") Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt.
                            div(class="card faqs__card") 
                                div(class="card-header" id="heading_Two") 
                                    h5(class="mb-0") 
                                        button(class="btn btn-link faqs__title collapsed" type="button"
                                            data-toggle="collapse" data-target="#collapse_Two" aria-expanded="false"
                                            aria-controls="collapse_Two") Eiusmod tempor
                                            span(class="faqs__icon")  
                                div(id="collapse_Two" class="collapse" aria-labelledby="heading_Two"
                                    data-parent="#accordionTwo") 
                                    div(class="card-body faqs__text") Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt.
                            div(class="card faqs__card") 
                                div(class="card-header" id="heading_Three") 
                                    h5(class="mb-0") 
                                        button(class="btn btn-link faqs__title collapsed" type="button"
                                            data-toggle="collapse" data-target="#collapse_Three" aria-expanded="false"
                                            aria-controls="collapse_Three") Incididunt ut labore
                                            span(class="faqs__icon")  
                                div(id="collapse_Three" class="collapse" aria-labelledby="heading_Three"
                                    data-parent="#accordionTwo") 
                                    div(class="card-body faqs__text") Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt.
                    div(class="col-12 col-md-4 l-lg-4") 
                        div(class="accordion" id="accordion__Example") 
                            div(class="card faqs__card") 
                                div(class="card-header" id="heading__1") 
                                    h5(class="mb-0") 
                                        button(class="btn btn-link faqs__title collapsed" type="button"
                                            data-toggle="collapse" data-target="#collapse__1" aria-expanded="true"
                                            aria-controls="collapse__1") Tempor incididunt
                                            span(class="faqs__icon")  
                                div(id="collapse__1" class="collapse" aria-labelledby="heading__1"
                                    data-parent="#accordion__Example") 
                                    div(class="card-body faqs__text") Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt.  
                            div(class="card faqs__card") 
                                div(class="card-header" id="heading__2") 
                                    h5(class="mb-0") 
                                        button(class="btn btn-link faqs__title collapsed" type="button"
                                            data-toggle="collapse" data-target="#collapse__2" aria-expanded="false"
                                            aria-controls="collapse__2") Eiusmod tempor
                                            span(class="faqs__icon")  
                                div(id="collapse__2" class="collapse" aria-labelledby="headingTwo"
                                    data-parent="#accordion__Example") 
                                    div(class="card-body faqs__text") Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt.
                            div(class="card faqs__card") 
                                div(class="card-header" id="heading__3") 
                                    h5(class="mb-0") 
                                        button(class="btn btn-link faqs__title collapsed" type="button"
                                            data-toggle="collapse" data-target="#collapse__3" aria-expanded="false"
                                            aria-controls="collapse__3") Incididunt ut labore
                                            span(class="faqs__icon")  
                                div(id="collapse__3" class="collapse" aria-labelledby="headingThree"
                                    data-parent="#accordion__Example") 
                                    div(class="card-body faqs__text")  Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt.